{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
     
<style type="text/css">
    .frm p input
    {
      width: 250px;
      border-radius: 2px;
    }
</style>
<style type="text/css">
  .add_category_css{
   background-color: #ffffff;
  }

</style>



</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Add Category</h2>
<form class="frm" action="" align="center" method="post">
<p><h4>Name</h4></p>
<p><input type="text" name="name" placeholder="Enter Name"></p>
<p><h4>GST Slap</h4></p>
<p><input type="number" name="gst" placeholder="GST %"></p>
<p><button class="btn btn-primary">Add</button> 
</form>   
   </div>
</div>
</body>
</html>