{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
  <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--For Mobile View-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--/Mobile View-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- pie chart file start here-->

     <!--Add a reference to the Chart API at google.com:-->
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
    
<style type="text/css">
    .frm p input
    {
      width: 200px;
    }
</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center">Add Warehouse</h2>
    <form align="center" class="frm">
      <p>Ware House Name</p>
    <p><input type="text" name=""></p>
       <p>Owner Name</p>
    <p><input type="text" name=""></p>
       <p>Branch code</p>
    <p><input type="number" name=""></p>
       <p>Email</p>
    <p><input type="email" name=""></p>
       <p>Address</p>
    <p><input type="text" name=""></p>
       <p>Phone number</p>
    <p><input type="number" name=""></p>
  </form>
   </div>
</div>
</body>
</html>