{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
    
<style type="text/css">
    .frm p input,select option
    {
      width: 250px;
      border-radius: 2px;
    }
</style>
<style type="text/css">
  .add_product_css{
   background-color: #ffffff;
  }
</style>

</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Add Product</h2>
    <form align="center" method="post" action="/add_pdt_hid/" class="frm">
      <p><h4>Product Name</h4></p>
      <p><input type="text" name="pdt_name" placeholder="Product name" required=""></p>
      <p><h4>Price</h4></p>
      <p><input type="number" name="pdt_price" placeholder="Enter Price in Rs"  required=""></p>
      
      <p><h4>Category</h4></p>
      <p><select name="pdt_cat" class="dropdown-toggle">
        <option class="frm">--Select--</option>
        {% for i in pdt_cat %}
            <option value="{{i}}" class="frm">{{i}}</option>
            {% endfor %}
      </select></p>
      <p><button class="btn btn-primary">Add</button>
    </form>
   </div>
</div>
</body>
</html>