{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
    
<style type="text/css">
    .frm p input
    {
      width: 250px;
      border-radius: 2px;
    }
</style>
<style type="text/css">
  .add_warehouse_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Add Warehouse</h2>
    <form align="center" class="frm" name="war_frm" action="add_war_hid.html" method="post">
      <p><h5>Warehouse Name</h5></p>
    <p><input type="text" name="war_name" placeholder="Enter Warehouse Name" required=""></p>
       <p><h5>Owner Name</h5></p>
    <p><input type="text" name="war_owner_name" placeholder="Enter Owner's Name" required=""></p>
       <p><h5>Branch code</h5></p>
    <p><input type="number" name="branch_code" placeholder="Branch Code"></p>
       <p><h5>Email</h5></p>
    <p><input type="email" name="war_email" placeholder="Enter Email" required=""></p>
       <p><h5>Address</h5></p>
    <p><input type="text" name="war_address" placeholder="Enter Address" required=""></p>
       <p><h5>Phone number</h5></p>
    <p><input type="number" name="war_phone" placeholder="Enter Phone Number" required=""></p>
   <p><button class="btn btn-primary">ADD</button>
  </form>
   </div>
</div>
</body>
</html>