{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
{% include "hlink.html" %}
     
<style type="text/css">
  .invoice_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main" align="center">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Export List</h2>
    <table border="1px" cellpadding="7px" cellspacing="4px" contextmenu="center">
    <thead>
        <tr>
          <th><p>Sl No.</p></th>
      <th><p>Invoice number</p></th>

      <th><p>Date</p></th>
   
      <th><p>Coustomer Name</p></th>
    
       <th><p>Coustomer number</p></th>
    
       <th><p>Amount</p></th>
       </tr>
    
    </thead>

    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            

        </tr>

    </tbody>
    


</table>
   </div>
</div>
</body>
</html>