{% load staticfiles %}
<script type="text/javascript">
	if(localStorage.getItem("uid")=="null" || localStorage.getItem("uid")==null)
	{
		window.location=/login/;
	}
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
  <script type="text/javascript" src="{% static 'index.js' %}"></script>
  <script type="text/javascript" src="{% static 'invoice.js' %}"></script>
  
 
      <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- pie chart file start here-->

     <!--Add a reference to the Chart API at google.com:-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	

