{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
     
<style type="text/css">
  .import_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main" align="center">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   
    <h2 align="center" style="color: #8600b3;">Import Product{{msg}}</h2>
   <form action="/import_hid/" method="post">
    <table class="table table-striped" border="1">
    <thead>

        <tr>   
      <th><p>Product Name</p></th>
       <th><p>Quantity</p></th>
       </tr>
    
    </thead>

    <tbody>
        <tr>
          <td>
           <select name="did" class="form-control">
             <option>--Select--</option>
             {% for i in pname %}
             <option value="{{i.id}}">{{i.pdt_name}}</option>
             {% endfor %}
           </select>
         </td>
            <td><input class="form-control" type="number" name="qty"></td>

            <td colspan="2" align="center" ><input type="submit" value="ADD"></td>
        </tr>

        

    </tbody>
  </table>
    </form><br>







  
    <table>

      <thead>
        <tr>   
      <th><p>Product Name</p></th>
       <th><p>Quantity</p></th>
       </tr>
    
    </thead>

    <tbody>
      {% for i in oc %}
        <tr>
          <td>
           
             
             {{i.pdt_name}}</td>
            <td>{{i.qty}}</td>
        </tr>
        
         {% endfor %}
    </tbody>
      
    </table>
   


</div>
</body>
</html>