{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
     
<style type="text/css">
  .import_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main" align="center">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Import Product</h2>
   <form action="">
    <table class="table table-striped" border="1">
    <thead>
        <tr>   
      <th><p>Product Name</p></th>
       <th><p>Quantity</p></th>
       </tr>
    
    </thead>

    <tbody>
        <tr>
          <td>
           <select class="form-control" name="pdt_name">
             <option>--Select--</option>
             {% for i in pname %}
             <option value="{{i.pdt_name}}">{{i.pdt_name}}</option>
             {% endfor %}
           </select>
         </td>
            <td><input class="form-control" type="text" name="qty"></td>
        </tr>
        <tr>
          <td colspan="2" align="center"><button class="btn btn-primary">ADD</button></td>
        </tr>

    </tbody>
  </table>
    </form>
   </div>
</div>
</body>
</html>