<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Demo</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery<span class="badge badge-pill badge-warning">6</span></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Notification<span class="badge badge-pill badge-danger">18</span></a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#LogIn">Log In</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li> 
    </ul>
  </div> 
</nav>
<h1>Home</h1>
            </div>
        </div>
        <form action="">
    <p>Name</p>
    <p><input type="name" name="name" placeholder="Enter name" required=""></p>
    <p>Email</p>
    <p><input type="email" name="email" placeholder="Eneter email" required=""></p>
    <p>Age</p>
    <p><input type="number" min="0" max="100" name="age" placeholder="Enter age" required=""></p>
    <p>Gender</p>
    <p><input type="radio" name="gender" value="male">Male</p>
    <p><input type="radio" name="gender" value="female">Female</p>
    <p>Country</p>
    <p>
        <select name="country">
        <option value="india">India</option>
        <option value="india">America</option>
        <option value="india">Turki</option>
      </select>
    </p>
    <p>Subject</p>
    <p><input type="checkbox" name="sub[]" value="C">C</p>
    <p><input type="checkbox" name="sub[]" value="C++">C++</p>
    <p><input type="checkbox" name="sub[]" value="java">Java</p>
    <p>DOJ</p>
    <p><input type="date" name="doj"></p>
    <p>Pro Pic</p>
    <p><input type="file" name="dp"></p>

    <p><input type="submit" name="submit" value="save"></p>
  </form>
    </div>
  

</body>
</html>