<!DOCTYPE html>
<html>
<head>
  <title>Form</title>
</head>
<body>
  <form action="">
    <p>Name</p>
    <p><input type="name" name="name" placeholder="Enter name" required=""></p>
    <p>Email</p>
    <p><input type="email" name="email" placeholder="Eneter email" required=""></p>
    <p>Age</p>
    <p><input type="number" min="0" max="100" name="age" placeholder="Enter age" required=""></p>
    <p>Gender</p>
    <p><input type="radio" name="gender" value="male">Male</p>
    <p><input type="radio" name="gender" value="female">Female</p>
    <p>Country</p>
    <p>
        <select name="country">
        <option value="india">India</option>
        <option value="india">America</option>
        <option value="india">Turki</option>
      </select>
    </p>
    <p>Subject</p>
    <p><input type="checkbox" name="sub[]" value="C">C</p>
    <p><input type="checkbox" name="sub[]" value="C++">C++</p>
    <p><input type="checkbox" name="sub[]" value="java">Java</p>
    <p>DOJ</p>
    <p><input type="date" name="doj"></p>
    <p>Pro Pic</p>
    <p><input type="file" name="dp"></p>

    <p><input type="submit" name="submit" value="save"></p>
  </form>

</body>
</html>