{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>CarGo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
	<!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--For Mobile View-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--/Mobile View-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- pie chart file start here-->

     <!--Add a reference to the Chart API at google.com:-->
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
     <!-- javascript file for pie chart 1-->
    

      <script src = "https://code.highcharts.com/highcharts.js"></script>  
      <script src = "https://code.highcharts.com/highcharts-3d.js"></script>
      <script type="text/javascript" src="{% static 'pie.js' %}"></script>


    <!--/ pie chart file ends here-->





<style type="text/css">
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

	#f{background-color: #ebe4c0;
		padding: 5px;
		padding-top: 50px;
		position: absolute;
	    right: 0px;
	}
	.g{
		overflow-y: scroll;
	}
	.m{
		width: 86%;
	}
	

	</style>




</head>
<body>
  {% include "sidebar.html" %}
  {% include "navbar.html" %}

        
        <div id="main" class="g">
        	<div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-4">

        		<div class="m" >

		<h2>SALERS BILL</h2>
		<select >
        <option  selected="">Coustomer</option>
        <option >Stock transfar</option>
        </select>


<table>
  <tr>
    <th>Barcode</th>
    <th>Product name</th>
    <th>Qty </th>
    <th>Total Price</th>
  </tr>
</table>
		
		
	</div>
</div>
		
	

    <div class="col-md-4">
	<div  id="f">
		<form  >
			<p>Coustomer name</p>
			<p><input type="text" name=""></p>
			<p>Coustomer numbe</p>
			<p><input type="number" name=""></p>
			<p>Tax</p>
			<p><input type="number" name="tax"></p>
			<p>OFF</p>
			<p><input type="number" name=""></p>
			<p>EXTRA CHARGE</p>
			<p><input type="number" name=""></p>
			<p>grand total</p>
			<p><input type="number" name=""></p>
			<p>Recived</p>
			<p><input type="number" name=""></p>
			<p>remainding</p>
			<p><input type="number" name=""></p>

		</form>

	</div>

     </div>

	</div>
	</div>
	


</body>
</html>