{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
{% include "hlink.html" %}
    
<style type="text/css">
  .manage_product_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
    <h2 align="center" style="color: #8600b3;">Manage Product</h2>
    <a href="/add_product/" class="btn btn-success">Add New Product</a>
           <table class="table table-striped"align="center">
            <thead>
                  <tr>
                     <th>SL no.</th>
                     <th>Product Name</th>
                     <th>Category</th>
                     <th>price</th>
                     <th>Edit</th>
                     <th>Delete</th>
                  </tr>
            </thead>
            <tbody>
              {% for p in pdt %}
                  <tr>
                     <td></td>
                     <td>{{p.pdt_name}}</td>
                     <td>{{p.pdt_cat}}</td>
                     <td>{{p.pdt_price}}</td>
                     <td></td>
                     <td>
                       <form action="/delete/" method="post">
                        <input type="hidden" name="d_id" value="{{p.id}}">
                        <input type="submit" value="DELETE" onclick="return confirm('Are you sure?')" class="btn btn-danger">
                      </form>
                     </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
</div>
</body>
</html>