{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>CarGo</title>
    {% include "hlink.html" %}
     
<style type="text/css">
  .manage_warehouse_css{
   background-color: #ffffff;
  }

</style>
</head>
<body>
    {% include "sidebar.html" %}
  {% include "navbar.html" %}
<div id="main">
   <div style="width: 100%; height: 50px; color: white;">
   </div>
   <div>
      <h2 align="center" style="color: #8600b3;">Manage Warehouse</h2>
      <a href="/add_warehouse/" class="btn btn-success">Add New Warehouse</a>
<table class="table table-striped"align="center">
            <thead>
                  <tr>
                     <th>SL no.</th>
                     <th>Warehouse Name</th>
                     <th>Owner's Name</th>
                     <th>Email</th>
                     <th>Address</th>
                     <th>Phone</th>
                     <th>Edit</th>
                     <th>Delete</th>
                  </tr>
            </thead>
            <tbody>
              {% for w in war %}
                  <tr>
                     <td></td>
                     <td>{{w.war_name}}</td>
                     <td>{{w.war_owner_name}}</td>
                     <td>{{w.war_email}}</td>
                     <td>{{w.war_address}}</td>
                     <td>{{w.war_phone}}</td>
                     <td></td>
                     <td></td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
   </div>
</div>
</body>
</html>