<!DOCTYPE html>
<html>
<body>
    <div id="mySidebar" class="sidebar">
  <div style="float: right;">
    <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
  </div>

  <div style="float: left;">
    <div>
  </div>
    <p ><input type="text" name="search" placeholder=" Search..."><button><i class="fa fa-search" aria-hidden="true"></i></button></p>
    <p class="index_css"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
    <p class="import_css"><a href="/import_product/"><i class="fa fa-plus-square" aria-hidden="true"></i> Import</a></p>
    <a href="#product" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i> Product</a>
     <ul class="collapse list-unstyled" id="product">
                        <li>
                            <p class="add_product_css"><a href="/add_product/">Add</a></p>
                        </li>
                        <li>
                            <p class="manage_product_css"><a href="/manage_product/">Manage</a></p>
                        </li>
                    </ul>
    <a href="#category" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-anchor" aria-hidden="true"></i> Categories</a>
     <ul class="collapse list-unstyled" id="category">
                        <li >
                            <p class="add_category_css"><a href="/add_category/">Add</a></p>
                        </li>
                        <li>
                            <p class="manage_category_css"><a href="/manage_category/">Manage</a></p>
                        </li>
                    </ul>
    <a href="#warehouse" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-institution" aria-hidden="true"></i> Warehouse</a>
     <ul class="collapse list-unstyled" id="warehouse">
                        <li>
                            <p class="add_warehouse_css"><a href="/add_warehouse/">Add</a></p>
                        </li>
                        <li>
                            <p class="manage_warehouse_css"><a href="/manage_warehouse/">Manage</a></p>
                        </li>
                    </ul>
    <p class="export_css"><a href="/export_product/"><i class="fa fa-paper-plane" aria-hidden="true"></i> Export</a></p>
    <p class="invoice_css"><a href="/invoice/"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Invoice</a></p>
    <p class="report_css"><a href="/report/"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Report</a></p>
    <p class="contact_us_css"><a href="/contact_us/"><i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a></p>
  </div>
</div>
</body>
</html>